**/.DS_Store
**/.ipynb_checkpoints
**/.venv*
**/.vscode
**/__pycache__
**/.Rhistory
**/temp**
**/~$**
**/data/**
**REnvironments/

*plots/

*.RDS
**bugs*data.txt
**bugs*inits*.txt
*.zip
Untitled*.ipynb
